<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Todos Page</title>
  </head>
  <body>
    {{> header}}

    <p><h2>Todos Data:</h2>
      
      
      
    

 <div>    {{#todos}}
        
  <div>
     <p>{{text}}</p>

         {{/todos}}
      </div>
     
     </div>   


<!--     <li>
    {{#with todos}}
        
  <p>{{text}}</p>

         {{/with}}
</li>
-->

    {{> footer}}
  </body>
</html>
